if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[KULLAN_BASLIK]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[KULLAN_BASLIK]
GO

CREATE TABLE [dbo].[KULLAN_BASLIK] (
	[SIRANO] [int] NOT NULL ,
	[BASLIK] [varchar] (100) COLLATE Turkish_CI_AS NOT NULL ,
	[ALTSIRA] [varchar] (100) COLLATE Turkish_CI_AS NULL ,
	[MODUL] [varchar] (30) COLLATE Turkish_CI_AS NULL 
) ON [PRIMARY]
GO

