USE [GENTEGRE]
GO
/****** Object:  Table [dbo].[DOKUMAN]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOKUMAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BELGENO] [nvarchar](50) NULL,
	[DURUM] [tinyint] NULL,
	[YON] [tinyint] NULL,
	[KATEGORI] [smallint] NULL,
	[AD] [nvarchar](300) NULL,
	[KONU] [nvarchar](200) NULL,
	[TUR] [smallint] NULL,
	[BOLUM] [smallint] NULL,
	[LOKASYON] [int] NULL,
	[REHBERID] [int] NULL,
	[ILGILIID] [int] NULL,
	[MODUL] [int] NULL,
	[BAGI] [int] NULL,
	[KLASOR] [int] NULL,
	[GECERLILIK_TARIHI] [datetime] NULL,
	[ESKIKLASOR] [int] NULL,
	[EKLEYEN] [int] NULL,
	[EKLEMETARIHI] [smalldatetime] NULL,
	[DEGISTIREN] [int] NULL,
	[DEGISTIRMETARIHI] [smalldatetime] NULL,
	[SUBEID] [smallint] NULL,
	[GIZLILIKDERECESI] [smallint] NULL,
	[GIZLILIKSURESI] [datetime] NULL,
	[MODULID] [int] NULL,
	[MODULPROJE] [int] NULL,
	[REHBERILETISIMID] [int] NULL,
	[TIP] [int] NULL,
	[TIPBILGISI] [nvarchar](50) NULL,
	[DEMIRBASID] [int] NULL,
	[ARSIVSURESI_YEDEK] [datetime] NULL,
	[ARSIVSURESI] [int] NULL,
	[ARSIVSURETIPI] [smallint] NULL,
	[ANAHTAR] [nvarchar](max) NULL,
	[TARIH] [smalldatetime] NULL,
	[GELDIGI_YER_TUR_REF] [int] NULL,
	[GELDIGI_YER_REF] [int] NULL,
	[GELEN_EVRAK_NUMARASI] [nvarchar](48) NULL,
	[HAVALE_EDILECEK_BIRIM_REF] [int] NULL,
	[GELIS_SEKLI_REF] [int] NULL,
	[YAZI_DURUMU_REF] [int] NULL,
	[GIZLILIK_DERECESI_REF] [int] NULL,
	[CEVAP_SURESI] [int] NULL,
	[ILGILI_EVRAK_NUMARASI] [nvarchar](48) NULL,
	[EK_ADEDI] [int] NULL,
	[EVRAK_DOSYA_KODU] [nvarchar](48) NULL,
	[DOSYA_NUMARASI] [nvarchar](48) NULL,
	[EVRAK_CINSI_REF] [int] NULL,
	[ESAS_NO] [nvarchar](48) NULL,
	[EVRAK_ICERIGI] [nvarchar](max) NULL,
	[ACIKLAMA] [nvarchar](255) NULL,
	[YAZI_SEKLI_REF] [nvarchar](1) NULL,
	[DOSYA_KODU] [nvarchar](48) NULL,
	[GIDECEGI_YER] [nvarchar](192) NULL,
	[EK_LISTESI] [nvarchar](1024) NULL,
	[IMZA_YOLU_REF] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_ANTET]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_ANTET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BIRIM_ID] [bigint] NULL,
	[ANTET_METIN] [text] NULL,
	[ANTET_RESIM_DOSYA] [nvarchar](512) NULL,
	[ANTET_RESIM_IMAGE] [image] NULL,
	[ALT_ANTET_RESIM_DOSYA] [nvarchar](512) NULL,
	[ALT_ANTET_RESIM_IMAGE] [image] NULL,
 CONSTRAINT [PK__EVRAK_AN__3214EC27B49127FF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO







/****** Object:  Table [dbo].[EVRAK_BIRIMI]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_BIRIMI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BIRIM_KODU] [nvarchar](38) NULL,
	[IDARE_KURUM_KODU] [nvarchar](38) NULL,
	[BIRIM_ADI] [nvarchar](52) NULL,
	[KISA_ADI] [nvarchar](24) NULL,
	[GENEL_EVRAK_BIRIMI] [varchar](1) NULL,
	[GELEN_EVRAK_ILK_KAYDEDEDN] [bigint] NULL,
	[KULLANIM_DURUMU] [int] NULL,
	[EPOSTA] [varchar](72) NULL,
	[SADECE_KISIYE_HAVALE] [int] NULL,
	[DETAY_DAGITIM] [int] NULL,
	[DAGITIM_BIRIM_KODU] [varchar](24) NULL
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_CINSI]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_CINSI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](64) NULL,
 CONSTRAINT [PK__EVRAK_CI__3214EC276AB9EB20] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_DAGITIM]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_DAGITIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_DAGITIM_DETAY]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_DAGITIM_DETAY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DAGITIM_REF] [int] NULL,
	[KURUM_ICI_DISI] [char](1) NULL,
	[EVRAK_BIRIM_REF] [int] NULL,
	[ALAN_ADI] [nvarchar](128) NULL,
	[ARZ_RICA] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_DOKUMAN]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_DOKUMAN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOKUMAN_ID_REF] [int] NULL,
	[GELDIGI_YER_TUR_REF] [int] NULL,
	[GELDIGI_YER_REF] [int] NULL,
	[GELEN_EVRAK_NUMARASI] [int] NULL,
	[HAVALE_EDILECEK_BIRIM_REF] [int] NULL,
	[GELIS_SEKLI_REF] [int] NULL,
	[YAZI_DURUMU_REF] [int] NULL,
	[GIZLILIK_DERECESI_REF] [int] NULL,
	[CEVAP_SURESI] [int] NULL,
	[ILGILI_EVRAK_NUMARASI] [nvarchar](48) NULL,
	[EK_ADEDI] [int] NULL,
	[EVRAK_DOSYA_KODU] [nvarchar](48) NULL,
	[DOSYA_NUMARASI] [nvarchar](48) NULL,
	[EVRAK_CINSI_REF] [int] NULL,
	[ESAS_NO] [nvarchar](48) NULL,
	[EVRAK_ICERIGI] [ntext] NULL,
	[ACIKLAMA] [nvarchar](192) NULL,
	[YAZI_SEKLI_REF] [int] NULL,
	[DOSYA_KODU] [nvarchar](48) NULL,
	[GIDECEGI_YER] [nvarchar](192) NULL,
	[EK_LISTESI] [ntext] NULL,
	[IMZA_YOLU_REF] [int] NULL,
 CONSTRAINT [PK__EVRAK_DO__3214EC27CF03CDDE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_DOSYATASNIF_PLAN_GRUP]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_DOSYATASNIF_PLAN_GRUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASNIF_GRUP] [nvarchar](64) NULL,
 CONSTRAINT [PK__EVRAK_DO__3214EC274DDE776D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_DOSYATASNIF_PLANI]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_DOSYATASNIF_PLANI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLAN_KODU] [varchar](32) NULL,
	[PLAN_ADI] [nvarchar](128) NULL,
	[KULLANIM_DURUMU] [int] NULL,
	[SAKLAMA_SURESI] [int] NULL,
	[SAKLAMA_KRITER] [int] NULL,
	[SAKLAMA_SURE_BASLANGIC] [datetime] NULL,
	[TASFIYE_PLAN_GRUP] [int] NULL,
	[DOSYA_EK] [image] NULL,
 CONSTRAINT [PK__EVRAK_DO__3214EC27B528586C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_GELEN_YER]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GELEN_YER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BIRIM_ID] [bigint] NULL,
	[YER] [nvarchar](192) NULL,
	[YER_BIRIM_KODU] [varchar](64) NULL,
	[YER_TUR_ID] [int] NULL,
 CONSTRAINT [PK__EVRAK_GE__3214EC27882E75CB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_GELEN_YER_TUR]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GELEN_YER_TUR](
	[ID] [int] NOT NULL,
	[TUR] [nvarchar](32) NULL,
 CONSTRAINT [PK__EVRAK_GE__3214EC27F74817F9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_GELENEVRAK_KONU]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GELENEVRAK_KONU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BIRIM_ID] [bigint] NULL,
	[KONU] [nvarchar](192) NULL,
 CONSTRAINT [PK__EVRAK_GE__3214EC27243B9C7F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_GELIS_SEKLI]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GELIS_SEKLI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](72) NULL,
 CONSTRAINT [PK__EVRAK_GE__3214EC27B24984CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_GIDEN_TUR]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GIDEN_TUR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](64) NULL,
 CONSTRAINT [PK__EVRAK_GI__3214EC27AACA8F13] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_GIZLILIK]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_GIZLILIK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](64) NULL,
 CONSTRAINT [PK__EVRAK_GI__3214EC2782869979] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_HAVALE_KURAL]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_HAVALE_KURAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KURAL_ADI] [nvarchar](128) NULL,
	[EVRAK_BIRIMI_REF] [int] NULL,
	[GECERLILIK_BASLANGIC] [smalldatetime] NULL,
	[GECERLILIK_BITIS] [smalldatetime] NULL,
 CONSTRAINT [PK__EVRAK_HA__3214EC27E82B71A6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_HAVALE_KURAL_GEREGI_BILGI]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_HAVALE_KURAL_GEREGI_BILGI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSON_REF] [int] NULL,
	[GEREGI_VEYA_BILGI] [char](1) NULL,
	[HAVALE_KURAL_REF] [int] NULL,
 CONSTRAINT [PK__EVRAK_HA__3214EC270EC9D207] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_HAVALE_KURAL_KOSUL]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_HAVALE_KURAL_KOSUL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALAN] [nvarchar](72) NULL,
	[ALAN_REF] [int] NULL,
	[OPERATOR] [nvarchar](24) NULL,
	[KOSUL_DEGER] [nvarchar](48) NULL,
	[KOSUL_DEGER_REF] [int] NULL,
	[HAVALE_KURAL_REF] [varchar](255) NULL,
	[ONCELIK_SIRASI] [int] NULL,
 CONSTRAINT [PK__HAVALE_K__3214EC2741331788] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_OZEL_ALAN]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_OZEL_ALAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EVRAK_BIRIM_REF] [int] NULL,
	[DOSYA_NO] [nvarchar](48) NULL,
	[GOSTERME_SIRASI] [int] NULL,
	[ADI] [nvarchar](72) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_PARAF]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_PARAF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](64) NULL,
 CONSTRAINT [PK__EVRAK_PA__3214EC27106680E9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_PARAF_PERSONEL]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_PARAF_PERSONEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARAF_ID] [int] NULL,
	[PERSONEL_ID] [int] NULL,
 CONSTRAINT [PK__EVRAK_PA__3214EC270F640E44] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_POSTA_TUR]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_POSTA_TUR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](72) NULL,
 CONSTRAINT [PK__EVRAK_PO__3214EC27673F1F95] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_TANIMLAR]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_TANIMLAR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[KURUM_ADRES1] [nvarchar](255) NULL,
	[KURUM_ADRES2] [nvarchar](255) NULL,
	[AYRINTI_IRTIBAT1] [nvarchar](255) NULL,
	[AYRINTI_IRTIBAT2] [nvarchar](255) NULL,
	[TELEFON] [varchar](40) NULL,
	[FAKS] [varchar](40) NULL,
	[EPOSTA] [varchar](128) NULL,
	[ELEKTRONIKAG] [nvarchar](128) NULL
) ON [PRIMARY]
GO




/****** Object:  Table [dbo].[EVRAK_VEKALET]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_VEKALET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VEKALET_VEREN_ID] [bigint] NULL,
	[VEKALET_ALAN_ID] [bigint] NULL,
	[BASLANGIC_TARIHI] [smalldatetime] NULL,
	[BITIS_TARIHI] [smalldatetime] NULL
) ON [PRIMARY]
GO



/****** Object:  Table [dbo].[EVRAK_YAZI_DURUMU]    Script Date: 22.10.2023 20:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVRAK_YAZI_DURUMU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](128) NULL,
 CONSTRAINT [PK__EVRAK_YA__3214EC27A26520C1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO





ALTER TABLE [dbo].[DOKUMAN] ADD  DEFAULT ((1)) FOR [DURUM]
GO
ALTER TABLE [dbo].[DOKUMAN] ADD  DEFAULT (getdate()) FOR [EKLEMETARIHI]
GO
ALTER TABLE [dbo].[DOKUMAN] ADD  DEFAULT ((0)) FOR [SUBEID]
GO
ALTER TABLE [dbo].[DOKUMAN] ADD  DEFAULT ((1)) FOR [TIP]
GO
ALTER TABLE [dbo].[DOKUMAN] ADD  DEFAULT ((10)) FOR [ARSIVSURESI]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_BIRIMI', @level2type=N'COLUMN',@level2name=N'GELEN_EVRAK_ILK_KAYDEDEDN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Açık / Kapalı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_BIRIMI', @level2type=N'COLUMN',@level2name=N'KULLANIM_DURUMU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Evet / Hayır 1/0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_BIRIMI', @level2type=N'COLUMN',@level2name=N'SADECE_KISIYE_HAVALE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Evet / Hayır 1/0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_BIRIMI', @level2type=N'COLUMN',@level2name=N'DETAY_DAGITIM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"I" Kurum içi, "D" Kurum dışı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DAGITIM_DETAY', @level2type=N'COLUMN',@level2name=N'KURUM_ICI_DISI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"A" Arz ederim, "R" Rica ederim' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DAGITIM_DETAY', @level2type=N'COLUMN',@level2name=N'ARZ_RICA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"DOKUMAN" Tablosu "ID" bağ anahtarı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'DOKUMAN_ID_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_GELEN_YER_TUR" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'GELDIGI_YER_TUR_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_GELEN_YER" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'GELDIGI_YER_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_GELIS_SEKLI" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'GELIS_SEKLI_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_YAZI_DURUMU" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'YAZI_DURUMU_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_GIZLILIK" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'GIZLILIK_DERECESI_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'"EVRAK_CINSI" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'EVRAK_CINSI_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giden_Evrak "EVRAK_YAZI_SEKLI" alan "ID"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'YAZI_SEKLI_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giden_Evrak' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'DOSYA_KODU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giden_Evrak' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'GIDECEGI_YER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giden_Evrak' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'EK_LISTESI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giden_Evrak' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOKUMAN', @level2type=N'COLUMN',@level2name=N'IMZA_YOLU_REF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yıl olarak değer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOSYATASNIF_PLANI', @level2type=N'COLUMN',@level2name=N'SAKLAMA_SURESI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EVRAK_DOSYATASNIF_PLAN_GRUP_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_DOSYATASNIF_PLANI', @level2type=N'COLUMN',@level2name=N'TASFIYE_PLAN_GRUP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gereği için "G" Bilgi için "B"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_HAVALE_KURAL_GEREGI_BILGI', @level2type=N'COLUMN',@level2name=N'GEREGI_VEYA_BILGI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Belki de kaldırılıacak REF alan kullanılabilir' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_HAVALE_KURAL_KOSUL', @level2type=N'COLUMN',@level2name=N'ALAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Belki de kaldırılıacak REF alan kullanılabilir' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVRAK_HAVALE_KURAL_KOSUL', @level2type=N'COLUMN',@level2name=N'KOSUL_DEGER'
GO
