SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER TRIGGER [dbo].[trg_FATBASLIK_DOKTOR]
ON [dbo].[FATBASLIK]
AFTER INSERT,UPDATE
AS
BEGIN
  SET NOCOUNT ON;

  MERGE dbo.FATBASLIK_USER AS T
  USING (
    SELECT
      I.ID,
      KURUM_KOD = R.KOD
    FROM inserted I
    INNER JOIN dbo.FATBASLIK_USER U ON U.ID = I.ID
    LEFT JOIN dbo.REHBER R ON R.FIRMA = U.KURUM
    WHERE I.TUR = 14
      AND ISNULL(U.KURUM, '') <> ''
  ) AS S
  ON T.ID = S.ID
  WHEN MATCHED THEN
    UPDATE SET
      KURUM_KOD = S.KURUM_KOD,
      DEGISTIRMETARIHI = GETDATE()
  WHEN NOT MATCHED THEN
    INSERT(ID, KURUM_KOD, EKLEMETARIHI)
    VALUES(S.ID, S.KURUM_KOD, GETDATE());

  MERGE dbo.FATBASLIK_USER AS T
  USING (
    SELECT
      I.ID,
      DOKTOR = MAX(SU.DOKTOR),
      HASTA = MAX(SU.HASTA),
      KIMLIK_TUR = MAX(SU.KIMLIK_TUR),
      KIMLIK_NO = MAX(SU.KIMLIK_NO),
      KURUM_KOD = MAX(SU.KURUM_KOD),
      KURUM = MAX(SU.KURUM),
      ISLEMNO = MAX(SU.ISLEMNO),
      OPERASYONTARIHI = MAX(SU.OPERASYONTARIHI),
      PROTOKOLNO = MAX(SU.PROTOKOLNO),
      HISNO = MAX(SU.HISNO),
      IHALETALEPNO = MAX(SU.IHALETALEPNO),
      DOSYANO = MAX(SU.DOSYANO)
    FROM inserted I
    INNER JOIN dbo.FATURA F ON F.FATBASID = I.ID
    INNER JOIN dbo.FATURA SF ON SF.ID = F.YERID
    INNER JOIN dbo.FATBASLIK SFB ON SFB.ID = SF.FATBASID
    INNER JOIN dbo.FATBASLIK_USER SU ON SU.ID = SFB.ID
    WHERE I.TUR IN (15,16)
      AND ISNULL(F.YERI,0) IN (411,424)
    GROUP BY I.ID
  ) AS S
  ON T.ID = S.ID
  WHEN MATCHED THEN
    UPDATE SET
      DOKTOR = CASE WHEN ISNULL(T.DOKTOR,'') = '' THEN S.DOKTOR ELSE T.DOKTOR END,
      HASTA = CASE WHEN ISNULL(T.HASTA,'') = '' THEN S.HASTA ELSE T.HASTA END,
      KIMLIK_TUR = CASE WHEN ISNULL(T.KIMLIK_TUR,'') = '' THEN S.KIMLIK_TUR ELSE T.KIMLIK_TUR END,
      KIMLIK_NO = CASE WHEN ISNULL(T.KIMLIK_NO,'') = '' THEN S.KIMLIK_NO ELSE T.KIMLIK_NO END,
      KURUM_KOD = CASE WHEN ISNULL(T.KURUM_KOD,'') = '' THEN S.KURUM_KOD ELSE T.KURUM_KOD END,
      KURUM = CASE WHEN ISNULL(T.KURUM,'') = '' THEN S.KURUM ELSE T.KURUM END,
      ISLEMNO = CASE WHEN ISNULL(T.ISLEMNO,'') = '' THEN S.ISLEMNO ELSE T.ISLEMNO END,
      OPERASYONTARIHI = CASE WHEN T.OPERASYONTARIHI IS NULL THEN S.OPERASYONTARIHI ELSE T.OPERASYONTARIHI END,
      PROTOKOLNO = CASE WHEN ISNULL(T.PROTOKOLNO,'') = '' THEN S.PROTOKOLNO ELSE T.PROTOKOLNO END,
      HISNO = CASE WHEN ISNULL(T.HISNO,'') = '' THEN S.HISNO ELSE T.HISNO END,
      IHALETALEPNO = CASE WHEN ISNULL(T.IHALETALEPNO,'') = '' THEN S.IHALETALEPNO ELSE T.IHALETALEPNO END,
      DOSYANO = CASE WHEN ISNULL(T.DOSYANO,'') = '' THEN S.DOSYANO ELSE T.DOSYANO END,
      DEGISTIRMETARIHI = GETDATE()
  WHEN NOT MATCHED THEN
    INSERT(
      ID, DOKTOR, HASTA, KIMLIK_TUR, KIMLIK_NO, KURUM_KOD, KURUM, ISLEMNO,
      OPERASYONTARIHI, PROTOKOLNO, HISNO, IHALETALEPNO, DOSYANO, EKLEMETARIHI
    )
    VALUES(
      S.ID, S.DOKTOR, S.HASTA, S.KIMLIK_TUR, S.KIMLIK_NO, S.KURUM_KOD, S.KURUM, S.ISLEMNO,
      S.OPERASYONTARIHI, S.PROTOKOLNO, S.HISNO, S.IHALETALEPNO, S.DOSYANO, GETDATE()
    );
END;
