USE [HUMAPERSONA]
GO
/****** Object:  StoredProcedure [dbo].[P_KARTOKU]    Script Date: 10/01/2010 10:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec p_KARTOKU '12',0,1,1,'2010-09-25 19:30:00' 
ALTER        PROCEDURE [dbo].[P_KARTOKU]
@KARTID VARCHAR(1000),@SURE INT,@MAXVAR FLOAT, @OKUYUCU_NO TINYINT,@GIRISTARIH varchar(50) = null
AS
BEGIN
DECLARE @CIKIS DATETIME
DECLARE @SONGIRIS DATETIME
DECLARE @SONUC VARCHAR(50)
DECLARE @FARK INT
DECLARE @ADI VARCHAR(35)
DECLARE @SOYADI VARCHAR(35)
DECLARE @SONDUR CHAR(5)
DECLARE @PERKOD INT
DECLARE @MAX_KONTROLGIRIS FLOAT
DECLARE @MAX_KONTROLCIKIS FLOAT
DECLARE @TARIH DATETIME
DECLARE @SAAT TIME


DECLARE @VARDIYADURUM VARCHAR(100)


DECLARE @VARDIYA VARCHAR(1000)
DECLARE @VARDIYABASSAAT VARCHAR(1000)
DECLARE @VARDIYABITSAAT VARCHAR(1000)
DECLARE @VARDIYASURE VARCHAR(1000)
DECLARE @YAPILACAKKAYIT VARCHAR(1000)


SET @SONUC=NULL
SET @FARK=NULL
SET @ADI=NULL
SET @SOYADI=NULL
SET @SONDUR=NULL


Set @TARIH = ISNULL ( CONVERT(DATETIME,@GIRISTARIH,120), getdate())
SET @SAAT = CONVERT(TIME,@TARIH,120)

SELECT 
	DISTINCT @ADI=P.ADI,@SOYADI=P.SOYADI,@PERKOD=P.PERKOD 
FROM 
	PERS_KART PK
	INNER JOIN PER_SABIT         P ON PK.PERKOD    = P.PERKOD
	INNER JOIN PERS_OKUYUCU_IZIN I ON I.PERKOD     = P.PERKOD    AND 
												 PK.KARTNO    = I.KARTNO    AND
												 I.OKUYUCU_NO = @OKUYUCU_NO AND
												 CONVERT(SMALLDATETIME,CONVERT(VARCHAR(10),@TARIH,103),103) BETWEEN 
												 ISNULL(I.BASTAR, CONVERT(SMALLDATETIME,CONVERT(VARCHAR(10), @TARIH,103),103)) AND
												 ISNULL(I.BITTAR, CONVERT(SMALLDATETIME,CONVERT(VARCHAR(10), @TARIH,103),103)) 

WHERE 
	PK.KARTNO=@KARTID AND PK.AKPAS=1
	
IF (SELECT COUNT(*) FROM PERS_PDKS WHERE PERKOD = @PERKOD AND (@TARIH = GIRIS OR @TARIH=CIKIS) )<> 0
 BEGIN
   SET @SONUC='MÜKERRER KAYIT'
 SELECT @SONUC AS SONUC
  END
ELSE
BEGIN
 IF @ADI IS NOT NULL
 BEGIN
       SET @VARDIYA =  dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,@TARIH,@TARIH) 
      print @VARDIYA
             SET @VARDIYABASSAAT =  dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,@TARIH,@TARIH)
      print @VARDIYABASSAAT
             SET @VARDIYABITSAAT =  dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,@TARIH,@TARIH)
      print @VARDIYABITSAAT
             SET @VARDIYASURE =  dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,@TARIH,@TARIH) 
      print @VARDIYASURE
      
      IF 
     ( @SAAT
      BETWEEN DATEADD(HOUR,-2,CONVERT(TIME,@VARDIYABASSAAT,120))
               AND DATEADD(HOUR,2,CONVERT(TIME,@VARDIYABASSAAT,120))
      )
      begin
      PRINT @SAAT
      PRINT 'GIRIS'
      SET @VARDIYADURUM = 'GIRIS'
      END  
      ELSE 
      begin     
      PRINT CONVERT(VARCHAR(10),@SAAT)
      PRINT 'CIKIS'
      SET @VARDIYADURUM = 'CIKIS'
      END
      
      
     
      
      PRINT DATEADD(HOUR,3,CONVERT(TIME,@VARDIYABASSAAT,120))
      PRINT DATEADD(HOUR,-3,CONVERT(TIME,@VARDIYABASSAAT,120))
      
      ---GIRIS CIKIS VARMI BAKALIM OGUN VE BIR ERTESI GUN
      SELECT TOP 1 @CIKIS= CIKIS,@SONGIRIS=GIRIS--En son giriş çıkış kayıtları alınıyor.
	    FROM  PERS_PDKS 
	   WHERE  KARTNO=@KARTID AND 
		  ( CONVERT(VARCHAR(10),GIRIS,120)=CONVERT(VARCHAR(10),@TARIH,120)
		   or CONVERT(VARCHAR(10),GIRIS,120)=CONVERT(VARCHAR(10),@TARIH-1,120) 
		   or  CONVERT(VARCHAR(10),CIKIS,120)=CONVERT(VARCHAR(10),@TARIH,120) 
		   or CONVERT(VARCHAR(10),CIKIS,120)=CONVERT(VARCHAR(10),@TARIH-1,120) ) 
	   ORDER BY 
		CIKIS,GIRIS DESC 
		 
		/* IF (@VARDIYABASSAAT = @VARDIYABITSAAT) 
		 BEGIN
			IF ((@SONGIRIS IS NULL) AND (@CIKIS IS NULL) )OR ( (@SONGIRIS IS NOT NULL) AND (@CIKIS IS NOT NULL) )
			BEGIN
			SET @VARDIYADURUM = 'GIRIS'
			END
			ELSE IF (@SONGIRIS IS NULL) AND (@CIKIS IS NOT NULL)
			BEGIN
			SET @VARDIYADURUM = 'GIRIS'
			END
		 
		 END*/
		 IF  (@VARDIYABASSAAT = @VARDIYABITSAAT) 
		 BEGIN
		 	IF ((@SONGIRIS IS NULL) AND (@CIKIS IS NULL) )OR ( (@SONGIRIS IS NOT NULL) AND (@CIKIS IS NOT NULL) )
			BEGIN
			SET @VARDIYADURUM = 'GIRIS'
			END 
			ELSE IF (@SONGIRIS > @TARIH )
			BEGIN
			SET @VARDIYADURUM = 'GIRIS'
			END ELSE 
			BEGIN
			SET @VARDIYADURUM = 'CIKIS'
			END
		 END
		
		
		Print @CIKIS
		print @SONGIRIS
      ----------------------------------------------------
      --Insert veya Update kontrol ediliyor
      IF ( (@SONGIRIS IS NULL) AND (@CIKIS IS NULL)  ) OR ( (@SONGIRIS IS NOT NULL) AND (@CIKIS IS NOT NULL) )
      BEGIN
		IF (@VARDIYADURUM = 'CIKIS')
		  BEGIN SET @YAPILACAKKAYIT = 'INSERT CIKIS' END
		ELSE
		  BEGIN SET @YAPILACAKKAYIT = 'INSERT GIRIS' END 
      END
      
      IF ( (@SONGIRIS IS NOT NULL) AND (@CIKIS  IS NULL) )
      BEGIN
       IF (@VARDIYADURUM = 'CIKIS')
		 BEGIN
			IF ( @SONGIRIS > @TARIH )
			BEGIN SET @YAPILACAKKAYIT = 'INSERT CIKIS' END
			ELSE BEGIN SET @YAPILACAKKAYIT = 'UPDATE CIKIS'  END 
		 END
	   ELSE 
		 BEGIN  SET @YAPILACAKKAYIT = 'INSERT GIRIS' END
      END
      
      IF ( (@SONGIRIS IS NULL) AND (@CIKIS  IS NOT NULL) )
      BEGIN
       IF (@VARDIYADURUM = 'CIKIS')
		 BEGIN SET @YAPILACAKKAYIT = 'INSERT CIKIS' END
	   ELSE 
		 BEGIN
			IF (@CIKIS > @TARIH )
			BEGIN SET @YAPILACAKKAYIT = 'UPDATE GIRIS' END
			ELSE BEGIN SET @YAPILACAKKAYIT = 'INSERT GIRIS' END
		 END     
      END
      -----------------------------------------------------
    
    

		/*SELECT 
		TOP 1 @CIKIS= CIKIS,@SONGIRIS=GIRIS--En son giriş çıkış kayıtları alınıyor.
	    FROM 
		  PERS_PDKS 
	   WHERE 
		   KARTNO=@KARTID AND 
		   
		  ( CONVERT(VARCHAR(10),GIRIS,120)=CONVERT(VARCHAR(10),@TARIH,120)
		   or CONVERT(VARCHAR(10),GIRIS,120)=CONVERT(VARCHAR(10),@TARIH-1,120) ) 
	   ORDER BY 
		GIRIS asc
		-----------------------------------------
		IF @CIKIS IS NULL
	    BEGIN
		IF @SONGIRIS IS NULL	
	     SET @SONDUR='ÇIKIŞ'
		ELSE
		  SET @SONDUR='GIRIS' 
		END
		ELSE 
		BEGIN
			SET @SONDUR='ÇIKIŞ'	
		END
		print 'En son giriş çıkış kayıtları alınıyor'
		print '@CIKIS--->'+CONVERT(VARCHAR(20),ISNULL(@CIKIS,''),120)
		print '@SONGIRIS--->'+CONVERT(VARCHAR(20),ISNULL(@SONGIRIS,''),120)
		print '--------------'
	-----------------------------------------------------------
	*/
	
	IF (@CIKIS IS NOT NULL)
	BEGIN
		SELECT 
			@FARK=(DATEPART(MI,(@TARIH-MAX(CIKIS)))+(DATEPART(HH,(@TARIH-MAX(CIKIS)))*60)) 
		FROM 
			PERS_PDKS 
		WHERE 
			DATEPART(M,CIKIS)=DATEPART(M,@TARIH) AND 
			DATEPART(D,CIKIS)=DATEPART(D,@TARIH) AND 
			DATEPART(YY,CIKIS)=DATEPART(YY,@TARIH) AND 
			KARTNO=@KARTID 
	    print 'Çıkış boş değil ise fark hesaplanıyor '
		print '@FARK--->'+CONVERT(VARCHAR(20),@FARK)
		print '--------------'
	END
	ELSE
	BEGIN
		IF (@SONGIRIS IS NOT NULL)
		BEGIN
		print '@SONGIRIS IS NOT NULL fark hesaplanıyor '
			SELECT 
				@FARK=(DATEPART(MI,(@TARIH-MAX(GIRIS)))+(DATEPART(HH,(@TARIH-MAX(GIRIS)))*60))
			FROM 
				PERS_PDKS 
			WHERE 
				DATEPART(M,GIRIS)=DATEPART(M,@TARIH) AND 
				DATEPART(D,GIRIS)=DATEPART(D,@TARIH) AND 
				DATEPART(YY,GIRIS)=DATEPART(YY,@TARIH) AND 
				KARTNO=@KARTID 
		--print 'Çıkış boş ise ve songiriş boş değil ise fark hesaplanıyor '
		--print '@FARK--->'+CONVERT(VARCHAR(20),ISNULL(@FARK,'NULL'))
		print '--------------'
		END	
		else 
		begin
		print 'Çıkış boş ise ve songiriş boş ise fark hesaplanmıyor '
		print '--------------'
		end
	END
	print 'MAX_KONTROL hesaplanıyor '
	IF (@SONGIRIS IS NOT NULL)
	BEGIN
		print 'MAX_KONTROL hesaplanıyor '
	SELECT 
		@MAX_KONTROLGIRIS = DATEDIFF(MI,MAX(GIRIS), @TARIH) / 60		
	FROM 
		PERS_PDKS
	WHERE 
		KARTNO = @KARTID
	print '@MAX_KONTROL--> DATEDIFF(MI,MAX(GIRIS), @TARIH) / 60 -->'+ISNULL(CONVERT(VARCHAR(130),@MAX_KONTROLGIRIS),'Boş')
	print '--------------'
	END
	
	
	IF (@CIKIS IS NOT NULL)
	BEGIN
		print 'MAX_KONTROL hesaplanıyor '
    SELECT 
		@MAX_KONTROLCIKIS = DATEDIFF(MI,MAX(CIKIS), @TARIH) / 60		
	FROM 
		PERS_PDKS
	WHERE 
		KARTNO = @KARTID

	print '@MAX_KONTROL--> DATEDIFF(MI,MAX(CIKIS), @TARIH) / 60 -->'+ISNULL(CONVERT(VARCHAR(130),@MAX_KONTROLCIKIS),'Boş')
	print '--------------'
	END
	
	print '@FARK<@SURE başlıyor'
	IF @FARK<@SURE 
	BEGIN
	SET @SONUC=@ADI + ' ' + @SOYADI + ' : SÜRE DOLMADI'
	print '@FARK<@SURE ise süre dolmadı uyarısı veriliyor.'
	print '@MAX_KONTROL--> DATEDIFF(MI,MAX(GIRIS), @TARIH) / 60 -->'+ISNULL(CONVERT(VARCHAR(130),@SONUC),'Boş')
	print '--------------'
	END
	ELSE
	BEGIN
  		
  		IF @YAPILACAKKAYIT='INSERT GIRIS' OR @YAPILACAKKAYIT='UPDATE GIRIS'
  		BEGIN
    		SET @SONUC=@ADI + ' ' + @SOYADI + ' : GİRİŞ YAPTI'
  		END
  		ELSE	
  		BEGIN
    		SET @SONUC=@ADI + ' ' + @SOYADI + ' : ÇIKIŞ YAPTI'
		END
		print '@SONDUR ÇIKIŞ  ise giriş yapılıyor , giriş ise çıkış yapılıyor.'
	    print '@SONUC--> '+ISNULL(CONVERT(VARCHAR(130),@SONUC),'Boş')
	    print '--------------'
	    
	   IF (@YAPILACAKKAYIT = 'INSERT GIRIS')
	   BEGIN
	   print 'INSERT GIRIS '
	   		INSERT INTO PERS_PDKS(
		[PERKOD], [KARTNO], [GIRIS], [CIKIS], [VARDIYA], [VARGIRIS], [VARCIKIS], [VARCALSURE], [IGIRIS], [ICIKIS], [IVARDIYA], [IVARGIRIS], [IVARCIKIS], [IVARCALSURE]) 
		VALUES(@PERKOD,@KARTID,@TARIH,NULL, NULL, NULL, NULL, NULL, @TARIH, NULL, NULL, NULL, NULL, NULL ) 
		print '@SONDUR=Giriş ise insert yapılıyor.'
	    print '@[PERKOD] [KARTNO] [GIRIS] [IGIRIS]--> '+ISNULL(CONVERT(VARCHAR(130),@PERKOD),'Boş')+ISNULL(CONVERT(VARCHAR(130),@KARTID),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')
			UPDATE PERS_PDKS 
			SET 
			     VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH)
				 
		    WHERE 
				PERKOD=@PERKOD AND GIRIS=@TARIH 
		
		END
		ELSE IF (@YAPILACAKKAYIT = 'INSERT CIKIS') 
		BEGIN
			   print 'INSERT CIKIS '
		INSERT INTO PERS_PDKS(
		[PERKOD], [KARTNO], [GIRIS], [CIKIS], [VARDIYA], [VARGIRIS], [VARCIKIS], [VARCALSURE], [IGIRIS], [ICIKIS], [IVARDIYA], [IVARGIRIS], [IVARCIKIS], [IVARCALSURE]) 
		VALUES(@PERKOD,@KARTID,NULL,@TARIH, NULL, NULL, NULL, NULL, NULL, @TARIH, NULL, NULL, NULL, NULL ) 
		print '@SONDUR=Çıkış insert yapılıyor.'
	    print '@[PERKOD] [KARTNO] [CIKIS] [ICIKIS]--> '+ISNULL(CONVERT(VARCHAR(130),@PERKOD),'Boş')+ISNULL(CONVERT(VARCHAR(130),@KARTID),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')
			UPDATE PERS_PDKS 
			SET 
			     VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,CIKIS,@TARIH)
				 
		    WHERE 
				PERKOD=@PERKOD AND CIKIS=@TARIH 
		END 
		ELSE 
		IF (@YAPILACAKKAYIT = 'UPDATE GIRIS')
		BEGIN
		print 'UPDATE GIRIS '
		UPDATE PERS_PDKS 
			SET GIRIS=@TARIH
			     ,VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
			     ,IGIRIS=@TARIH
			     ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,CIKIS,@TARIH) 
			WHERE 
				PERKOD=@PERKOD AND CIKIS=@CIKIS 
		END
		IF (@YAPILACAKKAYIT = 'UPDATE CIKIS')
		BEGIN
		print 'UPDATE CIKIS '
		UPDATE PERS_PDKS 
			SET CIKIS=@TARIH
			     ,VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,ICIKIS=@TARIH
			     ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			WHERE 
				PERKOD=@PERKOD AND GIRIS=@SONGIRIS 
		END
	 
		
		--MAXİMUM VARDİYA SAATİ ALINIYOR
		/*IF (@MAX_KONTROL > @MAXVAR) AND (@SONDUR <> 'GİRİŞ') 
		BEGIN
			SET @SONUC=@ADI + ' ' + @SOYADI + ' : GİRİŞ YAPTI'
			SET @SONDUR = 'GİRİŞ'
		END
		
		print 'MAXİMUM VARDİYA SAATİ ALINIYOR.'
	    print '@SONUC--> '+ISNULL(CONVERT(VARCHAR(130),@SONUC),'Boş')
	    print '@SONDUR--> '+ISNULL(CONVERT(VARCHAR(130),@SONDUR),'Boş')
	    print '--------------'
		IF @SONDUR='GİRİŞ' 
		BEGIN
		INSERT INTO PERS_PDKS(
		[PERKOD], [KARTNO], [GIRIS], [CIKIS], [VARDIYA], [VARGIRIS], [VARCIKIS], [VARCALSURE], [IGIRIS], [ICIKIS], [IVARDIYA], [IVARGIRIS], [IVARCIKIS], [IVARCALSURE]) 
		VALUES(@PERKOD,@KARTID,@TARIH,NULL, NULL, NULL, NULL, NULL, @TARIH, NULL, NULL, NULL, NULL, NULL ) 
		print '@SONDUR=Giriş ise insert yapılıyor.'
	    print '@[PERKOD] [KARTNO] [GIRIS] [IGIRIS]--> '+ISNULL(CONVERT(VARCHAR(130),@PERKOD),'Boş')+ISNULL(CONVERT(VARCHAR(130),@KARTID),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')+ISNULL(CONVERT(VARCHAR(130),@TARIH),'Boş')
			UPDATE PERS_PDKS 
			SET 
			     VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH)
				 
		    WHERE 
				PERKOD=@PERKOD AND GIRIS=@TARIH 
		
		END
		ELSE 
		BEGIN
			UPDATE PERS_PDKS 
			SET CIKIS=@TARIH
			     ,VARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,VARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,VARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			     ,ICIKIS=@TARIH
			     ,IVARDIYA=dbo.fn_VardiyaAdi_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARGIRIS=dbo.fn_VardiyaGiris_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCIKIS=dbo.fn_VardiyaCikis_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
				 ,IVARCALSURE=dbo.fn_VardiyaCalSure_Bas_Bit(@PERKOD,GIRIS,@TARIH) 
			WHERE 
				PERKOD=@PERKOD AND GIRIS=@SONGIRIS 
				
		print '@SONDUR=Giriş değil ise updatede yapılıyor.GIRIS=@SONGIRIS şartı aranıyor.'
	    print '@SONGIRIS--> '+ISNULL(CONVERT(VARCHAR(130),@SONGIRIS,120),'Boş')
   	    print '@[CIKIS] [ICIKIS]--> '+ISNULL(CONVERT(VARCHAR(130),@TARIH,120),'Boş')
		

		END
	*/
	END
 END
 ELSE
  SET @SONUC='GEÇERSİZ KART'
 SELECT @SONUC AS SONUC
 END
 
 END





 






