/*
2007-06-07 17:30 DEĞİŞTİRME
-- Rehberdeki anakuruma göre filtreleme eklendi.
-- Kullanıcıya göre filtreleme eklendi
---------------------------
2006-11-17 15:00 OLUŞTURMA 
EMRE BAYTAR
Verilen tarih aralığında kesilmiş faturaları listeler
p_G2LKS_FaturalariListele '','','','','2005-01-01','2007-12-05',0,0,0,999999,'False'
BELGETURU = 0: Hepsi, 1: Fatura , 2: Fiş
*/
CREATE        PROC [dbo].[p_G2LKS_FaturalariListele] 
	@KURUM VARCHAR(100),
	@REFERANS VARCHAR(100),
	@ANAKURUM VARCHAR(100),
	@KULLANICI VARCHAR(40),
	@BASLA SMALLDATETIME,
	@BITIS SMALLDATETIME,
	@BELGETURU SMALLINT,
	@AKTARILMIS INT ,
	@ILKFATNO INT,
	@SONFATNO INT,
	@TUMUSECILI VARCHAR(5)
AS 
BEGIN
DECLARE @BELGE VARCHAR(10)
SELECT @BELGE= CASE WHEN @BELGETURU = 0 THEN '%'
	            WHEN @BELGETURU = 1 THEN 'Fatura'
                    WHEN @BELGETURU = 2 THEN 'Fiş'
	ELSE '%'
	END


	  SET @KURUM=@KURUM+'%'
	  SET @REFERANS=@REFERANS+'%'
	  SET @KULLANICI = @KULLANICI+'%'
	  SET @ANAKURUM = @ANAKURUM+'%'

	PRINT('KURUM:'+@KURUM)
	PRINT('REF:'+@KURUM)
	PRINT('KULL:'+@KURUM)
	PRINT('ANAKURM:'+@KURUM)
	PRINT('BELGE:'+@KURUM)

	IF @ILKFATNO = 0 SET @ILKFATNO = 0
	IF @SONFATNO = 0 SET @SONFATNO = 99999999

	
	SELECT
		SEC=@TUMUSECILI,
		K.DOSYANO,
		ADSOYAD = K.AD+' '+K.SOYAD ,
	        FB.GELISNO,
		G.KURUM,
		FB.FATURANO, 
		FB.FATURATARIH,
		FB.KARTNO,
		FATURA_TUTARI= ROUND(FB.FATURA_TUTARI,2),
		FB.LOTNO,
	        FB.KIME,
		MUHASEBEKODU = CASE WHEN FB.KIME = 'Katkı' THEN '120.999' 
				    WHEN G.KURUM = 'MEMUR' THEN G.REFERANSKOD
			ELSE KR.MUHASEBEKODU
			END,
		MUHAKTAR = ISNULL(MUHAKTAR,0) ,
		G.REFERANS,
		AKTARMANOTU,
		AKTARMATARIHI,
		BELGE, 
        FB.TURU,
		KULLANICIADI = ISNULL(KL.KULLANICIADI,''),
		ANAKURUM = ISNULL(R.ANAFIRMA,''),
-----------------------------------------------------------------------------------------
-- TOPLAM FATURA TUTARI
		TOPLAMFATURA = 
			(
			  SELECT SUM(FATURA_TUTARI) FROM 
						FATBASLIK FB INNER JOIN GELISLER G ON 
					FB.DOSYANO = G.DOSYANO AND
					FB.GELISNO = G.GELISNO
			     INNER JOIN KIMLIK K ON
					G.DOSYANO = K.DOSYANO
			     INNER JOIN KURUM KR ON 
					G.KURUM = KR.KURUM
        
	WHERE
		KIME NOT IN ('Sanal','İptal') AND
		ISNULL(G.KURUM,'') LIKE @KURUM AND
		ISNULL(G.REFERANS,'') LIKE @REFERANS AND
		FB.FATURATARIH BETWEEN @BASLA AND @BITIS AND
		ISNULL(MUHAKTAR,0) <= @AKTARILMIS AND
		ISNULL(BELGE,'') LIKE @BELGE AND
		CONVERT(INT,REPLACE(ISNULL(FB.FATURANO,'0'),'-','')) >= @ILKFATNO AND
		CONVERT(INT,REPLACE(ISNULL(FB.FATURANO,'0'),'-','')) <= @SONFATNO AND
		ISNULL(KL.KULLANICIADI,'') LIKE @KULLANICI AND
		ISNULL(R.ANAFIRMA,'') LIKE @ANAKURUM

			)
-- TOPLAM FATURA TUTARI
-------------------------------------------------------------------------------------------			    
	INTO #FaturalarTemp
	FROM
		FATBASLIK FB INNER JOIN GELISLER G ON 
					FB.DOSYANO = G.DOSYANO AND
					FB.GELISNO = G.GELISNO
			     INNER JOIN KIMLIK K ON
					G.DOSYANO = K.DOSYANO
			     INNER JOIN KURUM KR ON 
					G.KURUM = KR.KURUM
			     LEFT OUTER JOIN REHBER R ON
					G.REFERANSKOD = R.KOD
			     LEFT OUTER JOIN KULLAN KL ON
					KL.KULLANICI = FB.KULLANICI
	WHERE
		    ISNULL(KIME,'') NOT IN ('Sanal','İptal') 
		AND ISNULL(G.KURUM,'') LIKE @KURUM 
		AND ISNULL(G.REFERANS,'') LIKE @REFERANS 
		AND FB.FATURATARIH BETWEEN @BASLA AND @BITIS 
		AND ISNULL(MUHAKTAR,0) <= @AKTARILMIS 
		AND ISNULL(BELGE,'') LIKE @BELGE 
		AND CONVERT(INT,REPLACE(ISNULL(FB.FATURANO,'0'),'-','')) >= @ILKFATNO 
		AND CONVERT(INT,REPLACE(ISNULL(FB.FATURANO,'0'),'-','')) <= @SONFATNO 
		AND ISNULL(KL.KULLANICIADI,'') LIKE @KULLANICI 
		AND ISNULL(R.ANAFIRMA,'') LIKE @ANAKURUM

	ORDER BY FB.FATURANO
	
	  SELECT * FROM #FaturalarTemp
	
END







