<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="tr"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1254"><title>Browse Folders</title></head>
<body>
<table style="text-align: left; width: 100%;" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="vertical-align: top;" colspan="1" rowspan="3">{%IWNAVIGATION%}</td>
<td></td>
<td><img style="width: 130px; height: 46px;" alt="Genyazılım" src="../files/genyazilimlogo.png"></td>
</tr>
<tr><td colspan="2" rowspan="1"><table style="text-align: left; width: 100%; height: 100%;" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></td></tr><tr>
<td style="vertical-align: top;" colspan="2" rowspan="1">{%IWDocList%}</td>
</tr>
<tr>
</tr>
<tr>
<td style="width: 20%;">öğüşiı<br>
</td>
<td>{%IWNAVBR%}</td>
<td>{%IWDBNavigator1%}</td>
</tr>
</tbody>
</table>
<br>
</body></html>