<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="tr"><head><title></title>

</head>
<body>
<table style="text-align: left; width: 401px; height: 268px;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td colspan="4" rowspan="1"><img style="width: 389px; height: 139px;" alt="Genyazýlým" src="../files/genyazilimlogo.png"></td>
</tr>
<tr>
<td></td>
<td style="text-align: right; white-space: nowrap;">{%IWLUserName%}</td>
<td></td>
<td>{%IWUserName%}</td>
</tr>
<tr>
<td></td>
<td style="text-align: right; white-space: nowrap;">{%IWLPassword%}</td>
<td></td>
<td>{%IWPassWord%}</td>
</tr>
<tr>
<td></td>
<td style="text-align: right;"></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td style="text-align: right;">{%IWBLogin%}</td>
<td></td>
<td style="text-align: right;">{%IWBCancle%}</td>
</tr>
<tr>
<td></td>
<td colspan="3" rowspan="1">{%IWLMessage%}</td>
</tr>
</tbody>
</table>
<br>
</body></html>