if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BANKALAR]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BANKALAR]
GO

CREATE TABLE [dbo].[BANKALAR] (
	[KOD] [varchar] (25) COLLATE SQL_Latin1_General_CP1254_CI_AS NOT NULL ,
	[BANKA] [varchar] (50) COLLATE SQL_Latin1_General_CP1254_CI_AS NOT NULL ,
	[SUBE] [varchar] (30) COLLATE SQL_Latin1_General_CP1254_CI_AS NOT NULL ,
	[HESAPNO] [varchar] (30) COLLATE SQL_Latin1_General_CP1254_CI_AS NOT NULL ,
	[HESAPTIPI] [varchar] (20) COLLATE SQL_Latin1_General_CP1254_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BANKALAR] WITH NOCHECK ADD 
	CONSTRAINT [PK_BANKALAR] PRIMARY KEY  CLUSTERED 
	(
		[KOD],
		[BANKA],
		[SUBE],
		[HESAPNO]
	)  ON [PRIMARY] 
GO

