set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO



-- select dbo.fn_G2L_SFLogoÖzelKodu()

ALTER     FUNCTION [dbo].[fn_G2L_SFLogoOzelKodu]()
returns VARCHAR(20)
AS
BEGIN
DECLARe @ozelkod VARCHAR(10)
	
	SELECT
		@ozelkod = DEGER
	FROM
		GENOTIPINI
	WHERE
		BOLUM = 'G2LKS' AND
		ANAHTAR = 'LogoÖzelKod'


	Return(@ozelkod)
END





