-- select dbo.fn_G2L_SFCariKod('619328')
/*
  fn_G2L_SFCariKod('O-00303',1,1)
  @type parametresi kuruma ait diğer bilgilerin alınması için  
*/

alter function [dbo].[fn_G2L_SFCariKod](@dosyano varchar(15),@gelisno int, @type int)
returns varchar(20) as
begin
  declare @carikod varchar(30)
  select 
	@carikod = case when K.GRUBU = 'SGK' then dbo.fn_G2L_SFRehberKod(G.REFERANSKOD,@type) else 
	(case @type when 1 then K.MUHASEBEKODU when 2 then K.KURUMKODU end ) end
  from
 	GELISLER G INNER JOIN KURUM K ON K.KURUM = G.KURUM
  where
	DOSYANO = @dosyano AND
	GELISNO = @gelisno
  return(@carikod)
end










