-- p_G2L_SatFat '00015,3,1#00015,2,1#'
ALTER     PROC [dbo].[p_G2L_SatFat]
@Sonuclar	VARCHAR(8000)

--WITH ENCRYPTION
AS
BEGIN

DECLARE		@FileName 	VARCHAR(200),
		@FS 		int,
		@OLEResult 	int,
		@FileID 	int,
		@fat		VARCHAR(2000),
		@faturano 	VARCHAR(10)

---------------------------------------------------------------------------------------------------------
-- parçalama ile ilgili tanımlar

declare @Pos int ,
	@ek int, 
	@Bas int,
	@kont int , 
	@Son int,
	@Ara int,
	@parca varchar(20),
	@AraPos int ,
	@AraBas int

declare @dosyano varchar(10),
	@gelisno varchar(10),
	@kartno varchar(10)

-- parçalama ile ilgili tanımlar bitişi.	
--------------------------------------------------------------------------------------------------------

-- yeni bi dosya aç ve içine dosya başlangıcını basınız.

SET @FileName = dbo.fn_G2L_ReadGlobalSetting('G2LKS','AktarimYolu')+ replace(convert(varchar(20),getdate(),120),':','-')+'-faturalar.xml'

print(@FileName)

SET @fat = '  <?xml version="1.0" encoding="ISO-8859-9" ?> 
 <SALES_INVOICES>'

EXECUTE @OLEResult = sp_OACreate 'Scripting.FileSystemObject', @FS OUT
IF @OLEResult <> 0 PRINT 'Scripting.FileSystemObject'
--Dosyayı Aç
EXECUTE @OLEResult = sp_OAMethod @FS, 'OpenTextFile', @FileID OUT, @FileName, 8, 1
IF @OLEResult <> 0 PRINT 'OpenTextFile'


EXECUTE @OLEResult = sp_OAMethod @FileID, 'WriteLine', Null, @fat
IF @OLEResult <> 0 PRINT 'WriteLine'

EXECUTE @OLEResult = sp_OADestroy @FileID
EXECUTE @OLEResult = sp_OADestroy @FS

-------------------------------------------------------------------------------------------


	 set @Pos = 1 
	 set @Bas = 1
	 set @Son = 0
	 set @Kont = 0		



	while @Pos <> 0  and @Pos < len(@Sonuclar)
   	begin 
		set @kont = 1
		set @AraPos = 1
		set @AraBas = 1
		set @Ara = 1

		set @Pos=@Pos  + 1
	
		select @Pos  = charindex ( '#', @Sonuclar , @Pos  + 1 ) 
		
		set @parca = substring(@Sonuclar,@Bas,@Pos-@Bas)

		set @Bas = @Pos+1

		while @kont <= 3 -- (@AraPos % 3)= 0  and @AraPos < len(@parca)
		begin
			set @parca = @parca + ','
--			print(@parca)
			set @AraPos=@AraPos  + 1
			
			select @AraPos  = charindex ( ',', @parca , @AraPos  + 1 ) 
--			print('Arapos - '+convert(varchar(2),@AraPos))
--			print('Kont -'+convert(varchar(2),@kont))

			If @kont = 1
				set @dosyano = substring(@parca,@AraBas,@AraPos-@AraBas)
			Else If @kont = 2
				set @gelisno = substring(@parca,@AraBas,@AraPos-@AraBas)
			Else If @kont = 3
				set @kartno = substring(@parca,@AraBas,@AraPos-@AraBas)

			set @AraBas = @AraPos+1		
			set @kont = @kont + 1		
		end 

		print('Dosyano - '+@dosyano+', Gelişno - '+@gelisno+', Kartno - '+@kartno)

		-- bu kısımda fatura bilgileri için scriptler çalışacak
		
		EXEC p_G2L_SatFatAna @dosyano,@gelisno,@kartno, @filename
		
		
		-- bu kısımda fatura bilgileri için scriptler çalışacak
		set @parca = ''

	end


-------------------------------------------------------------------------------------------


SET @fat = '</SALES_INVOICES>'

EXECUTE @OLEResult = sp_OACreate 'Scripting.FileSystemObject', @FS OUT
IF @OLEResult <> 0 PRINT 'Scripting.FileSystemObject'
--Dosyayı Aç
EXECUTE @OLEResult = sp_OAMethod @FS, 'OpenTextFile', @FileID OUT, @FileName, 8, 1
IF @OLEResult <> 0 PRINT 'OpenTextFile'


EXECUTE @OLEResult = sp_OAMethod @FileID, 'WriteLine', Null, @fat
IF @OLEResult <> 0 PRINT 'WriteLine'

EXECUTE @OLEResult = sp_OADestroy @FileID
EXECUTE @OLEResult = sp_OADestroy @FS



END
