set ANSI_NULLS ON
set QUOTED_IDENTIFIER OFF
GO
--   <GL_POSTED>1</GL_POSTED> -- muhasebeleşmiş gibi gösteriyor.
--	  <GL_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,kartno)+'</GL_CODE> 
--	  <GL_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,@kartno)+'</GL_CODE> 
-- 	  <GL_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,kartno)+'</GL_CODE> 
-- 	  <POST_FLAGS>247</POST_FLAGS> 
-- p_G2L_SatFatAna '55819','C:\GEN2000\Fatura\TEKDEN_22.12.2005_faturalar.xml'
-- 

ALTER PROC [dbo].[p_G2L_SatFatAna]
@dosyano	VARCHAR(15),
@gelisno	INT,
@kartno		INT,
@filename	VARCHAR(200)
-- WITH ENCRYPTION
AS
BEGIN
DECLARE	@SQL VARCHAR(8000),
	@payment VARCHAR(8000)

DECLARE		@FS 		int,
		@OLEResult int,
		@FileID 	int,
		@tutar	varchar(10),
		@isk	varchar(10),
		@isktut money

select @tutar = dbo.fn_G2L_SFTutar(@dosyano,@gelisno,@kartno)
select @isk = dbo.fn_G2L_SFIsk(@dosyano,@gelisno,@kartno)
select @isktut = convert(money,@tutar) - convert(money,@isk)
SELECT
--------------------------------------------------------------------------------------------------
@SQL = ' <INVOICE DBOP="INS">
  <TYPE>8</TYPE> 
  <DATE>'+convert(VARCHAR(10),FATURATARIH,103)+'</DATE> 
  <DOC_NUMBER>'+FATURANO+'</DOC_NUMBER> 
  <AUXIL_CODE>'+dbo.fn_G2L_SFLogoOzelKodu()+'</AUXIL_CODE> 
  <ARP_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,2)+'</ARP_CODE> 
  <GL_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,1)+'</GL_CODE> 
  <POST_FLAGS>244</POST_FLAGS> 
  <VAT_RATE>8</VAT_RATE> 
  <TOTAL_DISCOUNTS>'+convert(varchar(10),dbo.fn_G2L_SFIsk(@dosyano,@gelisno,@kartno))+'</TOTAL_DISCOUNTS>
  <TOTAL_DISCOUNTED>'+convert(varchar(10),@isktut)+'</TOTAL_DISCOUNTED> 
  <TOTAL_VAT>'+convert(varchar(10),dbo.fn_G2L_SFKdv(@dosyano,@gelisno,@kartno))+'</TOTAL_VAT> 
  <TOTAL_GROSS>'+convert(varchar(10),dbo.fn_G2L_SFTutar(@dosyano,@gelisno,@kartno))+'</TOTAL_GROSS> 
  <TOTAL_NET>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</TOTAL_NET> 
  <TC_NET>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</TC_NET> 
  <NOTES1>'+ISNULL(AD,'')+' '+ISNULL(SOYAD,'')+'</NOTES1> 
  <NOTES2>'+ISNULL(SICILNO,'')+'</NOTES2> 
  <NOTES3>'+ISNULL(KARNENO,'')+'</NOTES3> 
  <RC_XRATE>1</RC_XRATE> 
  <RC_NET>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</RC_NET> 
  <VAT_INCLUDED_GRS>0</VAT_INCLUDED_GRS> 
  <DISPATCHES>
  <DISPATCH>
  <TYPE>7</TYPE> 
  <DATE>'+convert(VARCHAR(10),FATURATARIH,103)+'</DATE> 
  <DOC_NUMBER>'+FATURANO+'</DOC_NUMBER> 
  <AUXIL_CODE>'+dbo.fn_G2L_SFLogoOzelKodu()+'</AUXIL_CODE> 
  <ARP_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,2)+'</ARP_CODE> 
  <GL_CODE>'+dbo.fn_G2L_SFCariKod(@dosyano,@gelisno,1)+'</GL_CODE> 
  <INVOICED>1</INVOICED> 
  <TOTAL_DISCOUNTS>'+convert(varchar(10),dbo.fn_G2L_SFIsk(@dosyano,@gelisno,@kartno))+'</TOTAL_DISCOUNTS>
  <TOTAL_DISCOUNTED>'+convert(varchar(10),@isktut)+'</TOTAL_DISCOUNTED> 
  <TOTAL_VAT>'+convert(varchar(10),dbo.fn_G2L_SFKdv(@dosyano,@gelisno,@kartno))+'</TOTAL_VAT> 
  <TOTAL_GROSS>'+convert(varchar(10),dbo.fn_G2L_SFTutar(@dosyano,@gelisno,@kartno))+'</TOTAL_GROSS> 
  <TOTAL_NET>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</TOTAL_NET> 
  <RC_RATE>1</RC_RATE> 
  <RC_NET>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</RC_NET> 
  </DISPATCH>
  </DISPATCHES>',
--------------------------------------------------------------------------------------------------
	/*@payment = 
		'<PAYMENT_LIST>
		 <PAYMENT>
		  <DATE>'+convert(VARCHAR(10),FATURATARIH,104)+'</DATE> 
		  <MODULENR>4</MODULENR> 
		  <TRCODE>7</TRCODE> 
		  <TOTAL>'+convert(varchar(10),dbo.fn_G2L_SFToplam(@dosyano,@gelisno,@kartno))+'</TOTAL> 
		  <PROCDATE>'+convert(VARCHAR(10),FATURATARIH,104)+'</PROCDATE> 
		  <REPORTRATE>1</REPORTRATE> 
		  <DISCOUNT_DUEDATE>'+convert(VARCHAR(10),FATURATARIH,104)+'</DISCOUNT_DUEDATE> 
		  <PAY_NO>1</PAY_NO> 
		  <DISCTRLIST /> 
		  <DISCTRDELLIST>0</DISCTRDELLIST> 		  </PAYMENT>
		  </PAYMENT_LIST>'*/
	@payment = dbo.fn_G2L_HastaTahsilatlariniDonustur(@dosyano,@gelisno)

FROM	
	FATBASLIK FB
	INNER JOIN KIMLIK K
		ON K.DOSYANO = FB.DOSYANO
WHERE
	FB.DOSYANO = @dosyano AND
	GELISNO = @gelisno AND
	KARTNO = @kartno
print 'sql basiliyi'
print(@SQL)
print 'payment basiliyi'
print(@payment)


EXECUTE @OLEResult = sp_OACreate 'Scripting.FileSystemObject', @FS OUT
IF @OLEResult <> 0 PRINT 'Scripting.FileSystemObject'
--Dosyayı Aç
EXECUTE @OLEResult = sp_OAMethod @FS, 'OpenTextFile', @FileID OUT, @filename, 8, 1
IF @OLEResult <> 0 PRINT 'OpenTextFile'


EXECUTE @OLEResult = sp_OAMethod @FileID, 'WriteLine', Null, @SQL
IF @OLEResult <> 0 PRINT 'WriteLine'

EXECUTE @OLEResult = sp_OADestroy @FileID
EXECUTE @OLEResult = sp_OADestroy @FS

-- bu kısımda fatura Transactionları için script çalışacak

EXEC p_G2L_SFKalemler @dosyano,@gelisno,@kartno,@filename


-- bu kısımda fatura Transactionları için script çalışacak


EXECUTE @OLEResult = sp_OACreate 'Scripting.FileSystemObject', @FS OUT
IF @OLEResult <> 0 PRINT 'Scripting.FileSystemObject'
--Dosyayı Aç
EXECUTE @OLEResult = sp_OAMethod @FS, 'OpenTextFile', @FileID OUT, @FileName, 8, 1
IF @OLEResult <> 0 PRINT 'OpenTextFile'


EXECUTE @OLEResult = sp_OAMethod @FileID, 'WriteLine', Null, @payment
IF @OLEResult <> 0 PRINT 'WriteLine'

EXECUTE @OLEResult = sp_OAMethod @FileID, 'WriteLine', Null, '  </INVOICE>'
IF @OLEResult <> 0 PRINT 'WriteLine'

EXECUTE @OLEResult = sp_OADestroy @FileID
EXECUTE @OLEResult = sp_OADestroy @FS
END



